
  * {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    transition: .3s;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
:root{
  /* Primar- */
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  
  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);
}
.attribution { 
  font-size: 14px; 
  text-align: center;
  background: #4e4e4e;
  color: #fff;
  padding: 24px;
}
.attribution a { 
  color: hsl(228, 45%, 60%); 
}
p, li{
    font-size: 16px;
    color: var(--Wenge-Brown);
}
.bold{
  font-weight: 600;
  color: var(--Dark-Charcoal);
}
h1, h2{
  font-family: "Young Serif", serif;
  color: var(--Nutmeg);
}
.color{
  color: var(--Nutmeg);
}

.heading{
  margin: 32px 0 24px 0;
}
.sub-header{
  margin-bottom: 18px;
}
.label{
  color: var(--Dark-Raspberry);
  font-weight: 600;
  margin-bottom: 12px;
}
.main{
  background: var(--Eggshell);
  padding-top: 10vw;
  padding-bottom: 10vw;
}
.card{
  width: 50vw;
  margin: auto;
  background: var(--White);
  border-radius: 18px;
  padding: 32px;
}
.hero-image{
  border-radius: 12px;
}
.prep-cont{
  padding: 48px 24px 24px 24px;
}
.item{
  margin-bottom: 12px;
}
.ul{
  list-style-type: none;
}
.ul .item{
  position: relative;
}
.ul .item::after{
  position: absolute;
  content: '';
  width: 4px;
  height: 4px;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  background: var(--Dark-Raspberry);
}
.section{
  padding-top: 24px;
}
.sec-up{
  padding-bottom: 24px;
  border-bottom: 1px solid var(--Light-Grey);
}
.ol{
  padding-left: 0;
  list-style: none;
}
.ol .item{
  display: flex;
  gap: 18px;
}
.num{
  font-weight: 600;
  color: var(--Dark-Raspberry);
}
.nutr-cont{
  margin-top: 24px;
}
.nutr-item{
  display: flex;
  flex: 1;
  padding: 12px 32px; 
}
.nutr-item .phar{
  flex:1
}
.nutr-item .bold{
  flex: 1;
}
.nutr-up{
  border-bottom: 1px solid var(--Light-Grey);
}

/* Extra large devices (large desktops, 1200px and up) */
@media (width < 1200px)  {}

/* Large devices (desktops, 992px and up) */
@media (width < 992px) {
  .card{
    width: 80vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (width < 768px) {}

/* Small devices (landscape phones, 576px and up) */
@media (width < 576px) {
  .main{
    padding: 0;
  }
  .card{
    width: 100vw;
    border-radius: 0;
    padding: 0;
  }
  .hero-image{
    border-radius: 0;
  }
  .section{
    margin-left: 24px;
    margin-right: 24px;
  }
  .heading{
    padding-left: 24px;
    padding-right: 24px;
  }
  .header .phar{
    padding-left: 24px;
    padding-right: 24px;
  }
  .prep-cont{
    padding-left: 48px;
  }
}